.container {
    position: relative;
    width: 960px;
    margin: 0 auto;
    padding: 0;
    display: block;
}

.container .one-third.column {
    width: 300px;
}

.container .column, .columns, .container .columns {
    float: left;
    display: inline;
    margin-left: 10px;
    margin-right: 10px;
}

.container .two-thirds.column {
    width: 800px;
}


.logo {
    margin: 10px 0 20px 0;
}

.logo h1 {
    display: inline-block;
    font-size: 18px;
    text-transform: uppercase;
    color: #f2f2f1;
    position: relative;
}

nav#mainNav {
    float: right;
    margin-top: 2px;
}

nav#mainNav li {
    display: inline-block;
    font-size: 12px;
    margin-top: 10px;
    position: relative;
    text-transform: uppercase;
}

nav#mainNav li a {
    color: #f2f2f1;
    display: block;
    padding: 20px 15px;
    position: relative;
}

.myButton {
	-moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
	-webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ededed), color-stop(1, #dfdfdf));
	background:-moz-linear-gradient(top, #ededed 5%, #dfdfdf 100%);
	background:-webkit-linear-gradient(top, #ededed 5%, #dfdfdf 100%);
	background:-o-linear-gradient(top, #ededed 5%, #dfdfdf 100%);
	background:-ms-linear-gradient(top, #ededed 5%, #dfdfdf 100%);
	background:linear-gradient(to bottom, #ededed 5%, #dfdfdf 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#dfdfdf',GradientType=0);
	background-color:#ededed;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;
	border:2px solid #dcdcdc;
	display:inline-block;
	cursor:pointer;
	color:#777777;
	font-family:Trebuchet MS;
	font-size:12px;
	font-weight:bold;
	padding:2px 15px;
	text-decoration:none;
    text-shadow:0px 1px 0px #ffffff;
    margin: 5px;
}
.myButton:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #dfdfdf), color-stop(1, #ededed));
	background:-moz-linear-gradient(top, #dfdfdf 5%, #ededed 100%);
	background:-webkit-linear-gradient(top, #dfdfdf 5%, #ededed 100%);
	background:-o-linear-gradient(top, #dfdfdf 5%, #ededed 100%);
	background:-ms-linear-gradient(top, #dfdfdf 5%, #ededed 100%);
	background:linear-gradient(to bottom, #dfdfdf 5%, #ededed 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#dfdfdf', endColorstr='#ededed',GradientType=0);
	background-color:#dfdfdf;
}
.myButton:active {
	position:relative;
	top:1px;
}

       